<section>
    <a href="#/markets/{{id}}/edit">edit</a>
    <h1>{{name}}</h1>
    <span>{{location.city}}</span>
    <span>{{location.state}}</span>
    <span>{{location.street-address}}</span>
</section>
