<form>
    <label>
        Name: <input name="name" value="{{name}}" />
    </label>
    <fieldset>
        <label>
            State: <input name="location.state" value="{{location.state}}" />
        </label>
        <label>
            City: <input name="location.city" value="{{location.city}}" />
        </label>
        <label>
            Street Address: <input name="location.street-address" value="{{location.street-address}}" />
        </label>
    </fieldset>
    {{#if id}}
        <input name="id" hidden value="{{id}}" />
    {{/if}}
    <button name="send" type="submit">Send</button>
    <a href="#/markets/{{id}}">cancel</a>
</form>
