<section>
    <a href="#/markets/{{id}}/edit">edit</a>
    <a href="#/markets/{{id}}/delete">delete</a>
    <h1>{{name}}</h1>
    <span>{{location.state}}</span>,
    <span>{{location.city}}</span>,
    <span>{{location.street-address}}</span>
</section>
