<section>
    <a href="#/markets/edit/{{id}}">edit</a>
    <a href="#/markets/delete/{{id}}">delete</a>
    <h1>{{name}}</h1>
    <span>{{location.state}}</span>,
    <span>{{location.city}}</span>,
    <span>{{location.street-address}}</span>
</section>
